div {
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

div.top_bar {
  background-color: #3B5998;
  color: #FFFFFF;
  width: 48%;
  height: 20px;
  float: left;
  margin: 2px 2px;
  padding: 2px;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

div.navigation_button {
  background-color: #3B5998;
  color: #FFFFFF;
  width: 23.5%;
  height: 16px;
  margin: 1px 1px;
  padding: 1px;
  float: left;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

div#selected_navigation_button {
  background-color: #627AAD;
}

div.navigation_button:hover {
  background-color: #627AAD;
  cursor: pointer;
}

div#console_wrapper_div {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #000000;
  font-size: 11px; 
  z-index: 11; /* should be at the top */
}

div#console_header_div {
  text-align: center;
  position: absolute;
  top: 0px;
  left: 40%;
  width: 20%;
  height: 13px;
  margin-left:auto;
  margin-right:auto;
  background-color: #627AAD;
  color: white;
  font-weight: bold;
}

div#console_header_div:hover {
  cursor: pointer;
}

div#console_content_div {
  position: absolute:
  top: 13px;
  left: 0px;
  width: 100%;
  background-color: #627AAD;
  margin-left:auto;
  margin-right:auto;
  overflow: auto;
  max-height: 250px;
}

div#comment_div {
  text-align: left;
  margin: 8px;
  padding: 2px;
  background-color: #d8dfea;
}

.commenter_name {
  font-weight: bold;
}

div#icon_table {
  text-align: center;
}

#icon_table table {
  width: 98%;
  position: fixed;
  top: 34px;
  left: 0px;
}


#icon_table div.image_holder {
  width: 130px;
  height: 100px;
  text-align: center;
  padding: 2px 2px;
  background-image: url('../resources/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #ffffff;
  overflow: hidden;
}

#icon_table div:hover {
  cursor: pointer;
  border-color: #000000;
}

#icon_table div.image_holder img {
  height: 70px;
}

#icon_table div.image_holder p {
  font-size: 11px;
}

div#button_holder {
  position: fixed;
  top: 580px;
  width: 100%;
  text-align: center;
}

div#button_holder img:hover {
  cursor: pointer;
}

img#prev_button {
  visibility: hidden;
}

img#next_button {
  visibility: hidden;
}

div#fullres_photo_div {
  position: relative;
  top: 34px;
  left: 0px;
  width: 50%;
  background-color: #eeeeee;
  background-image: url('../resources/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  visibility: hidden;
  border: 10px solid;
  border-color: #3B5998;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 3px 3px 8px #000;
  -webkit-box-shadow: 3px 3px 8px #000;
  box-shadow: 3px 3px 8px #000;
  z-index: 1;
}

img#fullres_photo_img {
  position: absolute;
  top: 0px;
  left: 0px;
  max-height: 540px;  /*will not work in IE*/ 
  max-width: 700px; /* UGLY: MainView.js needs to know these*/
}

img#fullres_photo_close_button {
  position: absolute;
  top: -20px;
  right: -20px;
}

img#fullres_photo_close_button:hover {
  cursor: pointer;
}

div#caption_div {
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1px
  overflow: hidden;
  background-image: url('../resources/translucent.png');
}

