div {
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

div.top_bar {
  background-color: #3B5998;
  color: #FFFFFF;
  width: 48%;
  height: 20px;
  float: left;
  margin: 2px 2px;
  padding: 2px;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

div.navigation_button {
  background-color: #3B5998;
  color: #FFFFFF;
  width: 23.5%;
  height: 16px;
  margin: 1px 1px;
  padding: 1px;
  float: left;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

div#selected_navigation_button {
  background-color: #627AAD;
}

div.navigation_button:hover {
  background-color: #627AAD;
  cursor: pointer;
}

div#icon_table {
  text-align: center;
}

#icon_table table {
  width: 98%;
  position: fixed;
  top: 34px;
  left: 0px;
}


#icon_table div.image_holder {
  width: 130px;
  height: 100px;
  text-align: center;
  padding: 2px 2px;
  background-repeat: no-repeat;
  background-position: center center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #ffffff;
  overflow: hidden;
}

#icon_table div:hover {
  cursor: pointer;
  border-color: #000000;
}
