a:link {
  text-decoration: none;
}

div {
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

div.top_bar {
  background-color: #3B5998;
  color: #FFFFFF;
  width: 50%;
  height: 20px;
  padding: 2px;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  z-index: 10;
}

div#navigation_bar {
  position: fixed;
  top : 0px;
  left: 0px;
}

div#tool_bar {
  position: fixed;
  top: 0px;
  left: 50%;
}

div.navigation_button {
  background-color: #3B5998;
  color: #FFFFFF;
  /*max-width: 23.5%;*/
  height: 16px;
  margin: 1px 1px;
  padding: 1px;
  float: left;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

div#selected_navigation_button {
  background-color: #627AAD;
}

div.navigation_button:hover {
  background-color: #627AAD;
  cursor: pointer;
}

div#loading_div {
  text-align: center;
  position: fixed;
  top:23px;
  left:45%;
  width: 10%;
  height: 13px;
  background-color: orange;
  margin: auto;
  font-size: 11px;
  font-weight: bold;
  visibility: hidden;
  z-index: 9;
}

div#console_wrapper_div {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #000000;
  font-size: 11px; 
  z-index: 11; /* should be at the top */
}

div#console_header_div {
  text-align: center;
  position: absolute;
  top: 0px;
  left: 40%;
  width: 20%;
  height: 13px;
  margin-left:auto;
  margin-right:auto;
  background-color: #627AAD;
  color: white;
  font-weight: bold;
}

div#console_header_div:hover {
  cursor: pointer;
}

div#console_content_div {
  position: absolute:
  top: 13px;
  left: 0px;
  width: 100%;
  background-color: #627AAD;
  margin-left:auto;
  margin-right:auto;
  overflow: auto;
  max-height: 250px;
}

div#comment_div {
  text-align: left;
  margin: 8px;
  padding: 2px;
  background-color: #d8dfea;
}

.commenter_name {
  font-weight: bold;
}

div#quick_access_bar {
  width: 4%;
  height: 80%;
  background-color: #d8dfea;
  position: fixed;
  top: 34px;
  left: 0px;
  z-index: 7;
}


div#icon_table {
  text-align: center;
  width: 98%;
  position: absolute;
  top: 34px;
  left: 0px;
  z-index: 6;
}


#icon_table div#image_holder {
  position: relative;
  height: 95px;
  max-width: 110px;
  text-align: center;
  padding: 2px 2px;
  margin: 2px 2px;
  background-image: url('../resources/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

#icon_table div#image_holder:hover {
  cursor: pointer;
  border-color: #000000;
}

#icon_table div#image_holder img {
  height: 70px;
}

#icon_table div#image_holder p {
  font-size: 11px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#icon_table div#small_comment_like_div {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10px;
  font-weight: bold;
  padding: 1px;
  color: white; 
  background-image: url('../resources/translucent.png');
  border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 3px 3px 8px #fff;
  -webkit-box-shadow: 3px 3px 8px #fff;
  box-shadow: 3px 3px 8px #fff;
}


#icon_table img#small_comment_img {
  width: 15px;
  max-height: 13px;
}

div#outer_photo_div {
  position: fixed;
  top: 34px;
  left: 0;
  width: 100%;
}

div#fullres_photo_div {
  position: relative;
  top: 0px;
  background-color: #eeeeee;
  background-image: url('../resources/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  visibility: hidden;
  border: 10px solid;
  border-color: #3B5998;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 3px 3px 8px #000;
  -webkit-box-shadow: 3px 3px 8px #000;
  box-shadow: 3px 3px 8px #000;
  z-index: 8;
}

img#fullres_photo_img {
  position: relative;
  top: 0px;
  left: 0px;
  max-height: 540px;  /*will not work in IE*/ 
  max-width: 700px; /* UGLY: MainView.js needs to know these*/
}

img#fullres_photo_close_button {
  position: absolute;
  top: -20px;
  right: -20px;
}

img#fullres_photo_prev_button {
  position: absolute;
  top: 50%;
  left: -25px;
}

img#fullres_photo_next_button {
  position: absolute;
  top: 50%;
  right: -25px;
}

img.fullres_photo_buttons:hover {
  cursor: pointer;
}

div#caption_div {
  text-align: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1px
  overflow: hidden;
  background-image: url('../resources/translucent.png');
}

.goog-tooltip {
      background: infobackground;
      color: infotext;
      border: 1px solid infotext;
      padding: 1px;
      font: menu;
      z-index: 10;
}

.like_tooltip {
      background: #C0C0FF;
      color: infotext;
      border: 1px solid infotext;
      padding: 1px;
      font: menu;
      z-index: 10;
}

.name_tag_tooltip {
      background-image: url('../resources/translucent.png');
      padding: 1px;
      font-size: 10px;
      font-weight: bold;
      color: white;
      z-index: 10;
}

.fb_button {
        background-color: #3b5998;
        border-color: #d8dfea rgb(14,31,91) rgb(14,31,91) rgb(216,223,234);
        border-style: solid;
        border-width: 1px;
        color: #ffffff;
        margin: 0 2px;
        padding: 2px 18px;
        font-weight: bold;
        font-size: 11px;
} 

textarea#comment_area {
  width: 98%;
}

div.tag_rect {
  position: absolute;
  border: 3px solid #fff;
  width: 80px;
  height: 80px;
  z-index: 9;
  visibility: hidden;
}

/* for showing the name on mouseover*/
div.tag_rect_dummy {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 9;
}

div#caption_wrapper {
  clear: left;
  width: 100%;
}

div.tag_text:hover {
  cursor: pointer;
}

div.tag_text {
  float: left;
}
