div {
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

div.top_bar {
  background-color: #3B5998;
  color: #FFFFFF;
  width: 48%;
  height: 20px;
  float: left;
  margin: 2px 2px;
  padding: 2px;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

div.navigation_button {
  background-color: #3B5998;
  color: #FFFFFF;
  width: 23.5%;
  height: 16px;
  margin: 1px 1px;
  padding: 1px;
  float: left;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

div#selected_navigation_button {
  background-color: #627AAD;
}

div.navigation_button:hover {
  background-color: #627AAD;
  cursor: pointer;
}

div#icon_table {
  text-align: center;
}

#icon_table table {
  width: 98%;
  position: fixed;
  top: 34px;
  left: 0px;
}


#icon_table div.image_holder {
  width: 130px;
  height: 100px;
  text-align: center;
  padding: 2px 2px;
  background-image: url('../resources/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #ffffff;
  overflow: hidden;
}

#icon_table div:hover {
  cursor: pointer;
  border-color: #000000;
}

#icon_table div.image_holder img {
  height: 70px;
}

#icon_table div.image_holder p {
  font-size: 11px;
}

div#button_holder {
  position: fixed;
  top: 580px;
  width: 100%;
  text-align: center;
}

div#button_holder img:hover {
  cursor: pointer;
}

img#prev_button {
  visibility: hidden;
}

img#next_button {
  visibility: hidden;
}

div#fullres_photo_div {
  position: absolute;
  top: 34px;
  left: 0px;
  text-align: center;
  width: 98%;
  height: 540px;
  background-color: #eeeeee;
  background-image: url('../resources/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  visibility: hidden;
  padding: 3px;
}

img#fullres_photo_img {
  max-height: 540px; /* will not work in IE */
  max-width: 740px;
}

div#fullres_photo_container {
  position: relative;
}

img#fullres_photo_close_button {
  position: absolute;
  top: 0px;
  right: 0px;
}

img#fullres_photo_close_button:hover {
  cursor: pointer;
}
